/* Universal */
html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
}

.site-container {
  height: auto;
  max-height: 100%;
  /*max-width: 960px;*/
  flex-basis: 960px;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem auto;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.66rem 0.5rem;
  text-transform: uppercase;
}

/* Header Style */
header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.header {
  align-items: flex-start;
  display: flex;
}

.logo {
  height: 1.5rem;
  margin: 0.5rem;
  width: auto;
}

/* Title Banner */
.title {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.title .site-container {
  align-items: center;
}

.new-arrival {
  background-color: black;
  display: block;
  margin-top: 0rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
}

/* Navigation Menu Bar Style */
.navigation {
  background-color: firebrick;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.75rem 0;
  max-width: 960px;
}

.menu a {
  color: white;
  text-decoration: none;
}

#menu-nav {
  display: none;
  justify-content: center;
  margin: 0.75rem 0;
}
/* Promoted Items Style */
.promoted {
  background-color: white;
}

.product-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 3rem 0;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.product-image {
  display: flex;
  height: 9rem;
  width: 100%;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}
.product img {
  max-width: 8rem;
}

.product-name {
  background-color: black;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
}

/* Location Information */
.location-section {
  background-color: white;
}

.location-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ci {
  width: 35%;
}

.contact-title {
  background-color: black;
  padding: 1rem 2rem;
  margin: 0;
}

.contact-item {
  color: black;
  margin: 1px;
}

/* Footer Style */
footer {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 470px) {
  h1, h2 {
    margin: 0.25rem auto;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.77rem;
  }

  .title {
    height: 15rem;
  }

  .title .site-container {
    height: 15rem;
  }

  .new-arrival {
    top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  .product {
    width: 90%;
  }
}

@media only screen and (min-width: 470px) and (max-width: 1024px) {
  .site-container {
    flex-basis: 100%;
  }
  .menu {
    display: none;
  }
  #menu-nav {
    display: flex;
    align-self: center;
  }
  .product-grid {
    overflow: hidden;
    height: 19rem;
  }
  .product {
    width: 47%;
  }
}
